h1, h2 {
    border-bottom: 1px solid hsla(0,0%,50%,.33);
    padding-bottom: 0.2em;
}

code {
    background: #e4dada;
    padding: 0.5em;
    border-radius: 5px;
    flex: 1;
    /* width: 100%; */
    font-size: 14px;
    display: inline-block;
    min-width: 98%;
}


blockquote {
    background: #f9f9f9;
    padding-left: 0.5em;
    border-left: 5px solid gray;
}