.activeBtn {
    background: rebeccapurple;
    color: white;
}

.textBtn {
    cursor: pointer;
    height: 2.5em;
    border: 2px solid whitesmoke!important;
    border-radius: 5px;
    font-weight: 700;
    color: whitesmoke;
}